
<div class="page-header">
    <div class="container">
      <div class="navLinks">
          <div class="styles">
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/products']">Products</a>
        <a [routerLink]="['/about']">About Us</a>
        <a [routerLink]="['/contact']">Contact Us</a>
        <a [routerLink]="['/protected']">Chat</a>
        
          </div>
      </div>
    </div>
  </div>
  
  <div id="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>